cs/packages/
cs/core-fw-spring-ide/obj/
cs/core-fw-spring-ide/bin/
cs/core-fw-spring-dbar/obj/
cs/core-fw-spring-dbar/bin/
cs/core-fw-spring/obj/
cs/core-fw-spring/bin/
cs/core-fw/obj/
cs/core-fw/bin/
cs/.vs/
cs/bin/
cs/z-tools/null
cs/core-fw-db-sqlite/bin/
cs/core-fw-db-sqlite/obj/
cs/core-fw-model/bin/
cs/core-fw-model/obj/
cs/test-core-fw-model/bin/
cs/test-core-fw-model/obj/
cs/core-fw-ddd/obj/
cs/test-core-fw-ddd/bin/
cs/test-core-fw-ddd/obj/
cs/test-core-fw/obj/
cs/test-core-fw/bin/
cs/test-core-fw-db-sqlite/bin/
cs/test-core-fw-db-sqlite/obj/
cs/test-core-fw-spring/bin/
cs/test-core-fw-spring/obj/
cs/core-fw-antlr/obj/
cs/core-fw-spring-express/bin/
cs/core-fw-spring-express/obj/
cs/core-fw-ned/bin/
cs/core-fw-ned/obj/
cs/test-core-fw-ned/bin/
cs/test-core-fw-ned/obj/
cs/core-fw-cad/obj/
cs/test-core-fw-cad/bin/
cs/test-core-fw-cad/obj/
cs/core-fw-ddd/bin/
cs/core-fw-auto/obj/
cs/test-core-fw-packer/bin/
cs/test-core-fw-packer/obj/
cs/binEx/
cs/core-fw-auto/bin/
cs/core-fw-cad/bin/
cs/test-core-fw-opengl/obj/
cs/test-core-fw-opengl/bin/
cs/test-core-fw-embed-child/Debug/
cs/test-core-fw-embed-parent/obj/
cs/test-core-fw-embed-parent/bin/
java/test-core-fw-antlr/target/
java/core-fw-antlr/target/
cpp/src/.vs/
cpp/src/Debug/
cpp/src/core-fw-cad-geomcalc/Debug/
cpp/src/test-core-fw-cad-demo/Debug/
cpp/src/test-core-fw-embed-child/Debug/
cpp/src/test-core-fw-embed-child2/Debug/
*.user
cs/bin-tools/
cs/test-core-fw-cad2/bin/
cs/test-core-fw-cad2/obj/
cs/core-fw-cad2/obj/
cpp/src/core-fw-cad-canvas/Debug/
cpp/src/core-fw-cad/Debug/
cpp/src/test-core-fw-embed-child3/Debug/
cpp1/src/.vs/
cs/test-core-fw-zmq/obj/
cs/test-core-fw-zmq/bin/
cpp1/src/Temp/
cpp1/bin/
cs/test-core-fw-wf/obj/
cs/test-core-fw-wf/bin/
cs/core-fw-wf/bin/
cs/core-fw-wf/obj/
java/test-core-fw-spring-db-h2/target/
cs/WindowsFormsApp1/bin/
cs/test-core-fw-ned2/bin/
cs/test-core-fw-ned2/obj/
cs/WindowsFormsApp1/obj/
cs/test-core-fw-spring-express/obj/
cs/test-core-fw-spring-express/bin/
cs/core-fw-iex/bin/
cs/core-fw-iex/obj/
cs/test-core-fw-ned3/bin/
cs/test-core-fw-ned3/obj/
cs/core-fw-wf3/obj/
cs/core-fw-wf3/bin/
cs/core-fw-spring-security/bin/
cs/core-fw-spring-security/obj/
cs/z-install/Release2/Release2/Reports/
cs/z-install/Release2/Release2/LogFiles/
cs/z-install/Default Configuration/Debug/DiskImages/
cs/z-install/Default Configuration/Debug/LogFiles/
cs/z-install/Default Configuration/Debug/Reports/
cs/z-install/Release2/Interm/
cs/z-install/Release2/Release2/DiskImages/
cs/test-core-fw-iex/obj/Debug/test_core_fw_iex.Properties.Resources.resources
cs/test-core-fw-iex/obj/
cs/test-core-fw-iex/bin/
java/test-interview/target/
cs/core-fw-dbar/obj/
