<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
  <targets async="true" maxarchivefiles="2">
    <target  name="log_file" xsi:type="File"  fileName="${basedir}/logs/${date:format=yyyyMMdd}.log"
            layout="[==${date} ${appdomain}  ${logger} ${level}==]${newline}${message}${newline}${exception}${newline}"/>
  </targets>
  <rules>
    <logger name="*" minlevel="Debug"  writeTo="log_file"></logger>
  </rules>
</nlog>