<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AsyncIO" version="0.1.69" targetFramework="net461" />
  <package id="EPPlus" version="4.5.3.1" targetFramework="net461" />
  <package id="NetMQ" version="4.0.0.207" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net461" />
  <package id="NLog" version="4.6.8" targetFramework="net461" />
  <package id="SharpZipLib" version="1.1.0" targetFramework="net461" />
</packages>